
/* ====================== Gobal============================== */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  color: #AE040F;
}

/* ===== NAVBAR ===== */
.navbar {
  background: #ffffff;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* lado izquierdo */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

/* logo */
.navbar-logo {
  width: 120px;
  object-fit: contain;
}

/* texto */
.navbar-title {
  color: #112945;
  font-size: 30px;
  font-weight: bold;
  font-weight: 700;
}

/* links */
.navbar-links {
  display: flex;
  gap: 25px;
}

.navbar-link {
  color: #112945;
  text-decoration: none;
  font-size: 15px;
  transition: opacity 0.2s;
  font-weight: 600;
}

.navbar-link:hover {
  opacity: 0.7;
}

/* ====================== BLOG ============================== */

.blog-container {
  padding: 40px 20px;
}

.blog-title {
  color: #112945;
  text-align: center;
  margin-bottom: 30px;
 
}

.blog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.blog-card {
  width: 100%;
  max-width: 1080px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
 
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-card h3 {
  color: #112945;
  font-size: 22px;
  text-align: center;
}

.blog-card p {
  color: #555;
  margin: 15px 0;
  font-size: 17px;
  padding: 0;
  overflow: hidden;
  line-height: 1.6;   
  text-align: justify;
}

.btn-primary {
  background-color: #AE040F;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
 

}

.btn-primary:hover {
  background-color: #8c030c;
} 

.blog-image {
  width: 60%;
  border-radius: 12px;
  margin-bottom: 15px;
  display: block;
  margin: 20px auto;

  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
 
}
.card-footer {
  display: flex;
  justify-content: flex-end;
}

.btn-center {
  display: block;
  margin: 20px auto;
}

/* ============================= Blog Detalle ============================ */
.detalle-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.detalle-hero {
  text-align: center;
  margin-bottom: 20px;
}

.detalle-hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.detalle-subtitle {
  color: gray;
  font-size: 16px;
}

.detalle-image-container {
  width: 100%;
  margin: 20px 0;
}

.detalle-image {
  width: 70%;
  border-radius: 12px;
  object-fit: cover;
  display: block;
  margin: 20px auto;
}

.detalle-content {
  font-size: 18px;
  line-height: 1.7;
  color: #333;
}

.detalle-content blockquote {
  margin: 20px 0;
  padding: 15px;
  border-left: 4px solid #007bff;
  background: #f4f8ff;
  font-style: italic;
}

.detalle-footer {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  color: gray;
  font-size: 14px;
}

/* =========================== USUARIOS ======================== */

.usuarios-container {
  padding: 30px;
}

/* header */
.usuarios-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.usuarios-header h1 {
  color: #112945;
}

/* filtros */
.usuarios-filtros {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;

}
.usuarios-filtros h4 {
  color: #112945;
}
.usuarios-filtros input,
.usuarios-filtros select {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* tabla */
.usuarios-tabla {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.usuarios-tabla th {
  background: #112945;
  color: white;
  padding: 12px;
  text-align: left;
}

.usuarios-tabla td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

/* estados */
.activo {
  color: green;
  font-weight: bold;
}

.inactivo {
  color: red;
  font-weight: bold;
}

/* botones */
.btn-secundario {
  background: #BEBEBE;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-secundario:hover {
  background: #a0a0a0;
}

/* ============================= MODAL ============================ */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 12px;
   box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.modal h2 {
  color: #112945;
  margin-bottom: 10px;
}

.modal input,
.modal select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

/* ============================= FOOTER ============================ */
.footer {
  background-color: #112945;
  color: white;
  text-align: center;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  width: 50px; 
}

.footer-socials svg {
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}

.footer-socials svg:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

